<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PersonalPeopleAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD18F1822AE2BC89004535AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD3BEFA72AD73B720027A04C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDEF5E522ADFD0D8004DDA7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
